footer{
  background-color: #1F295B; color: #BCA75B; padding: 20px; font-size: 18px; font-family: "Roboto", sans-serif;
}
i{
  color: white;
  font-size: 25px;
  padding: 3px;
  }
  .redes a i:hover{
      color: #BCA75B;
  }

#pie{
  justify-content: center;
  text-align: center;
  position: relative;
  top: 8px;
}
